/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.msgcenter {
  position: fixed;
  top: 40%;
  left: 50%;
  width:50%;
  height: 10%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.vercenter {
  position: fixed;
  top: 50%;
  left: 50%;
  width:50%;
  height: 20%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}