html, body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 40px;
    box-sizing: border-box;
}

b {
    color: rgba(255,0,0,.57);
    font-weight: 500;
}

#infos {
    font-size: 14px;
    margin-top: 3px;
}

#continner {
    width: 80%;
    position: relative;
    margin-left: 10%;
}

#search {
    width: 80%;
    padding-top: 5%;
    margin-left: 10%;
}

#search_txt {
    width: 40%;
    height: 40px;
}

#sbtn {
    height: 40px;
}

#result {
    width: 80%;
    padding-top: 1%;
    margin-left: 10%;
    z-index: 0;
}

.item {
    margin-top: 2.5%;
}

.title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 1px;
    word-break: break-word;
}

.formattedUrl {
    color: #006621;
    word-wrap: break-word;
}

.htmlSnippet {
    word-wrap: break-word;
    word-break: normal;
}

.htmlSnippet b {
    color: rgba(255,0,0,.57);
    word-break: break-all;
}

.link {
    color: #609;
}

#pageneration {
    margin-top: 20px;
    height: 70px;
    float: left;
}

#suggest {
    width: 32%;
    margin-left: 10%;
    z-index: 1;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    background-color: #fff;
}

#tools {
    width: calc(40% + 6px);
    height: 30px;
    float: left;
}

#menu {
    border: none;
    background-color: white;
}

.menuForm {
    width: 87px;
    float: left;
}

.menuFormDest {
    margin-left: 3px;
}

.sitem {
    height: 34px;
}

.selitem {
    background-color: #add8e6;
}

.sval {
    padding-top: 5px;
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.correct-spelling {
    height: 27px;
}

#spelling {
    position: absolute;
    cursor: pointer;
    width: 160px;
}

@media screen and (max-width:1020px) {
    #search_txt {
        width: 85%
    }

    #continner {
        width: 80%;
        margin-left: 5%;
    }

    #search {
        width: 80%;
        margin-left: 5%;
    }

    #result {
        width: 80%;
        margin-left: 5%;
    }

    #suggest {
        margin-left: 5%;
        width: calc(68% + 40px)
    }

    #tools {
        width: calc(85% + 6px);
    }
}

@media screen and (max-width:550px) {
    #search_txt {
        width: 85%
    }

    #continner {
        width: 90%;
        margin-left: 5%;
    }

    #search {
        width: 90%;
        margin-left: 5%;
    }

    #result {
        width: 90%;
        margin-left: 5%;
    }

    #suggest {
        margin-left: 5%;
        width: calc(76% + 40px)
    }

    #tools {
        width: calc(85% + 6px);
    }
}

.footer {
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 0;
    height: 40px;
    font-size: 12px;
}

.ipaddr {
    height: 18px;
    margin-right: 20px;
}

.copyright {
    cursor: pointer;
    height: 18px;
    margin-right: 20px;
}

.copyright > a {
    color: #50596c;
}